/* General Styles */
body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'roboto', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
    --bg-color: #fafafa;
    color: #000;
}

body.dark-mode {
    --bg-color: #363537;
    color: #FAFAFA;
}

.skip {
    position: absolute;
    left: -9999px;
}

.skip:focus {
    position: static;
    display: block;
    width: 100%;
    height: auto;
    color: var(--text-color);
    text-align: center;
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    z-index: 2000;
    background: var(--bg-color);
    padding: 1rem;
    border: 2px dashed var(--text-color);
    top: 10px;
    left: 10px;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: var(--bg-color);
    margin: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover, nav ul li a.active {
    background-color: var(--text-color);
    color: var(--bg-color);
}

/* Toggle Switch */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.theme-switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

/* Typewriter Text */
#typewriter-text-index, #typewriter-text-pets, #typewriter-text-recipes, #typewriter-text-travel {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

/* Additional Styles for Content and Images */
.content-section, .photogallery, .text-box {
    padding: 20px;
    margin: 20px 0;
}

.photogallery div, .text-box {
    margin-bottom: 20px;
    background-color: #eee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.photogallery img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 10px;
}

/* Responsive Grid for Photogallery */
.photogallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .theme-switch-wrapper span {
        display: none; /* Hide labels on smaller screens */
    }
}
